

  body {
    background-color: lightblue;

  }

  p {
    color: black;
    text-align: center;
    font: 10px;
    padding: 10px;


  }




img {
  padding: 10px;
  margin-left: 700px;
  max-width: auto;
  height: 300px;

}
input[type=text], select, textarea {
width: 100%;
padding: 12px;  
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box; 
margin-top: 6px; 
margin-bottom: 16px;
resize: vertical
}

.container-sip {
  text-align: left;
  margin-right: 65%;
  
}

#sipjpg {
margin-right: auto;
margin-left: auto;
text-align: left;
}

.container-dop {
  text-align: center;
  position: relative;
  bottom: 385px;

  
  
  
  
  
}

#doppng {
  margin-right: auto;
margin-left: auto;
text-align: center;

  }